/* A'uzubillah */

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 24px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.header__left{
    display: flex;
    justify-content: space-between;
}
.header__left h1{
    font-family:"Poppins";
    color: #58A9A5;
    font-size: 35px;
    margin-left: 7px;


}
.header__button{
    background: #58A9A5;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border-color: #58A9A5;
    border: none;
    color: aliceblue;
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* Bismillah */

.header__item{
    margin: 0 6px;
}

.header__link {
    padding: 8px 16px;
    color: gray;
    font-size: 20px;
    
}

.header__item .header__link:hover {
    color: #58A9A5;
}

/* section */

.section__left{
    background-image: url(./bgi/picture.png);
}

