/* A'uzubillah */

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 24px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.header__button{
    background: #58A9A5;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    border-color: #58A9A5;
    border: none;
    color: aliceblue;
}